.actionMeters {
    background-image: url("project://database/Assets/Assets/UI/kenney_ui-pack-space-expansion/PNG/Grey/Double/bar_round_gloss_large.png?fileID=2800000&guid=0cb1b031b8efbe844867f0d8450e2072&type=3#bar_round_gloss_large");
}
